{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
    <!-- Include jquery -->
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <title>Home - Arnold GYM</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
	  <div class="container">
	    <a class="navbar-brand" href="{% url 'home' %}">{{logo}}</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav ms-auto">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="{% url 'gallery' %}">Gallery</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link btn btn-dark btn-sm text-white" href="{% url 'enquiry' %}">Enquiry</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            My Account
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
	          	{% if not request.user.is_authenticated %}
		            {% if request.session.trainerLogin %}
		            <li><a class="dropdown-item" href="{% url 'trainer_dashboard' %}">Dashboard</a></li>
		            <li><a class="dropdown-item" href="{% url 'trainerlogout' %}">Logout</a></li>
		            {% else %}
		            <li><a class="dropdown-item" href="{% url 'trainerlogin' %}">Trainer Login</a></li>
		            <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
		            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
		            {% endif %}
	            {% else %}
	            <li><a class="dropdown-item" href="{% url 'user_dashboard' %}">Dashboard</a></li>
	            <li><a class="dropdown-item" href="{% url 'update_profile' %}">Profile</a></li>
	            <li><a class="dropdown-item" href="#">Settings</a></li>
	            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
	            {% endif %}
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
    <!-- Header End -->

    {% block content %}

    {% endblock %}

   <!-- Footer Start -->
  <footer class="container py-5">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>© 2017–2021 Arnold GYM, Inc. · 
        <a href="{% url 'pagedetail' 2 %}">Privacy</a> · 
        <a href="{% url 'pagedetail' 3 %}">Terms</a> . 
        <a href="{% url 'faq' %}">FAQ</a> .
        <a href="{% url 'contact_page' %}">Contact Us</a> .
    </p>
</footer>

<!-- Bootstrap Bundle -->
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'popper.min.js' %}"></script>
</body>
</html>