{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>St-2, NYK</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+1 123456799</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>123 7894562</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>arnoldgym@example.com</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13690.667043024157!2d75.7865279!3d30.9239375!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2b135ce266199a27!2sCode%20Artisan%20Lab!5e0!3m2!1sen!2sin!4v1632159340383!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}