{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<div class="row">
				<div class="col-3">
					{% include 'user/left-sidebar.html' %}
				</div>
				<div class="col-9">
					<h3 class="mb-4 border-bottom pb-1">Notifications <span class="badge bg-primary">123</span></h3>
					<span class="ajaxRes"></span>
					<ul class="list-group notif-list">
						Loading...
					</ul>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->

<script type="text/javascript">
	$(document).ready(function(){
		$(".ajaxRes").hide();
		setInterval(function(){
			$.ajax({
				url:"{% url 'get_notifs' %}",
				dataType:'json',
				beforeSend:function(){
					$(".ajaxRes").show();
					$(".ajaxRes").text('Loading...');
				},
				success:function(res){
					_html='';
					_json=$.parseJSON(res.data);
					$.each(_json,function(index,d){
						_html+='<li class="list-group-item bg-light">'+d.fields.notify_detail+'<button class="btn btn-sm btn-secondary float-end">MarkRead</button></li>';
					});
					$(".notif-list").html(_html);
					$(".ajaxRes").hide();
				}
			});
		},5000);
	});
</script>

{% endblock %}