{% extends 'base.html' %}
{% load static %}
{% load check_package %}
{% load mathfilters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" />
<section class="container my-4">
      <h1 class="text-center mb-4 section-heading border-bottom pb-2">Plans</h1>
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for plan in plans %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm {% if plan.highlight_status %} border-primary {% endif %}">
        {% if plan.highlight_status %}
        <div class="card-header py-3 text-white bg-primary border-primary">
          {% else %}
        <div class="card-header py-3">
          {% endif %}
          <h4 class="my-0 fw-normal">{{plan.title}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{plan.price}}
            <small class="text-muted fw-light">/{{plan.validity_days}} Days</small>
          </h1>
          <p class="text-success">Member Capacity {{plan.max_member|sub:plan.total_members}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            {% for feature in plan.subplanfeature_set.all %}
            <li>{{feature.title}}</li>
            {% endfor %}
          </ul>

          

          {% if request.user.is_authenticated %}
          {% check_user_package request.user.id plan.id as check_pckg %}
          {% check_pckg_validity request.user.id plan.id as check_validity %}

          {% if check_pckg %}
            {% if check_validity %}
              <a href="{% url 'checkout' plan.id %}" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
            {% else %}
              <a href="#" class="w-100 btn btn-lg btn-dark disabled">Purchased</a>
            {% endif %}
          {% else %}
          <a href="{% url 'checkout' plan.id %}" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
          {% endif %}
          
          {% else %}
          <a href="{% url 'login' %}" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          {% for plan in plans %}
          <th style="width: 22%;">{{plan.title}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for feature in dfeatures %}
        <tr>
          <th scope="row" class="text-start">{{feature.title}}</th>
          {% for plan in plans %}
          <td>
            {% if plan in feature.subplan.all %}
            <i class="bi bi-check-lg"></i>
            {% else %}
            <i class="bi bi-x-lg text-danger"></i>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
</section>
{% endblock %}